.thread.preview .latest-posts {
  display: flex;
  margin-top: 15px;
}
@media screen and (max-width: 480px) {
  .thread.preview .latest-posts {
    flex-direction: column;
    margin-top: 0;
  }
  .thread.preview .latest-posts .count {
    display: block;
    text-align: center;
    padding-top: .9em;
    padding-bottom: 1em;
  }
}
.thread.preview .latest-posts .count {
  color: rgba(var(--fg), .5);
  font-size: 14px;
  padding-right: 15px;
  text-decoration: none;
}
.thread.preview .latest-posts .count:hover {
  text-decoration: underline;
}
.thread.preview .latest-posts .posts {
  flex-grow: 1;
	overflow-x: hidden;
}
.thread-end {
  text-align: center;
}
.thread-end .reload-link {
  margin-top: 15px;
  margin-bottom: 15px;
}
.thread:not(.preview) .post {
  margin-bottom: 1.4em;
}
@media screen and (max-width: 480px) {
  .container.thread-wrapper {
    padding-left: 0;
    padding-right: 0;
  }
  .thread:not(.preview) .post {
    border-radius: 0;
  }
  .thread:not(.preview) .post:not(:last-child) {
    border-bottom: 1px solid rgba(var(--fg), .05);
    margin-bottom: 0;
  }
  .thread .posts .container.writer-wrapper {
    margin-top: 20px;
  }
  .thread .posts .container.writer-wrapper:not(:last-child) {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 481px) {
  .thread .posts .container.writer-wrapper {
    padding-left: 0;
    padding-right: 0;
  }
  .thread .posts .container.writer-wrapper:not(:last-child) {
    padding-bottom: 20px;
  }
}
