.writer textarea {
  background-color: rgb(var(--contrast));
  color: rgb(var(--contrast-fg));
  border: 0px;
  border-radius: 5px;
  font-family: 'Roboto';
  font-size: 14px;
  padding: 1.2em 1.5em;
  width: 100%;
  resize: none;
  /* overflow-y: hidden; */
}
.writer .operations {
  display: flex;
  justify-content: flex-end;
  margin-left: -5px;
  margin-right: -5px;
  flex-wrap: wrap;
}
.writer .operations > * {
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}
@media screen and (max-width: 480px) {
  .writer .operations > * {
    margin-top: 20px;
  }
  .container.board-posting {
    padding-left: 0;
    padding-right: 0;
  }
  .container.board-posting .writer textarea,
  .container.board-posting .writer input {
    margin-top: 0;
    border-radius: 0;
  }
  .container.board-posting .writer .new-board input,
  .container.board-posting .writer .new-board {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
  .container.board-posting .writer .new-board input {
    border-bottom: 1px solid rgba(var(--contrast-fg), .1);
    height: 4em;
  }
  .container.board-posting .writer .new-board input[name='title'] {
    flex-grow: 1;
  }
  .container.board-posting .writer .operations {
    margin-left: 15px;
    margin-right: 15px;
  }
}
.writer .new-board {
  margin-bottom: 10px;
  font-size: 0;
  display: flex;
  margin-left: -5px;
  margin-right: -5px;
}
.writer .new-board > input {
  background-color: rgb(var(--contrast));
  color: rgb(var(--contrast-fg));
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  height: 34px;
  padding: 0 1.5em;
  margin-left: 5px;
  margin-right: 5px;
}
.writer .new-board input[name='slug'] {
  max-width: 5em;
  text-align: center;
}
.writer .new-board input[name='title'] {
  min-width: 0;
}
.writer textarea:focus,
.writer .new-board > input:focus {
  outline-color: transparent;
  outline-style: none;
}
