{% extends 'base.html' %}

{% block css %}
<link rel='stylesheet' href='{{ url_for("static", path="/css/index.css") }}'>
{% endblock %}

{% block body %}

<div class='index-layout'>
  <div class='top'></div>
  <div class='middle'>
    <div class='container spacy'>
      {% include 'header.html' %}
      {% if boards | length > 0 %}
        <ul class='board-list'>
          {% for board in boards %}
            <li><a href='/{{ board.slug }}'>
              <span>{{ board.slug }}</span> {{ board.title }}
            </a></li>
          {% endfor %}
        </ul>
      {% else %}
        <div class='no-boards'>Congratulations! There are no boards yet. Be first to create one!</div>
      {% endif %}
    </div>
  </div>
  <div class='bottom'>
    <div class='new-board-option'>
      {% if boards %}<span>...or</span>{% endif %}
      <a href='/create' class='link-button contrast'>New Board</a>
    </div>
    {% include 'footer.html' %}
  </div>
</div>

{% endblock %}
