<div {% if post %}id='{{ post.offset | hex }}'{% endif %} class='post'>
  <div class='head'>
    <div class='datetime'>
      {% if post %}
        {{ post.datetime | format_datetime }}
      {% endif %}
    </div>
    {% if post %}
      {% if thread.posts.index(post) == 0 %}
        <a class='id' href='/{{ board.slug }}/{{ thread.slug }}'><span>{{ board.slug }}:</span>{{ thread.slug }}</a>
      {% else %}
        <a class='id' href='/{{ board.slug }}/{{ thread.slug }}#{{ post.offset | hex }}'><span>{{ board.slug }}:{{ thread.slug }}:</span>{{ post.offset | hex }}</a>
      {% endif %}
    {% else %}
        <a class='id' href='/{{ board.slug }}/{{ thread.slug }}#'><span>{{ board.slug }}:{{ thread.slug }}:</span></a>
    {% endif %}
  </div>
  <div class='body'>
    {% if post %}
      {{ post.markdown | markdown | safe }}
    {% endif %}
  </div>
</div>
