{% extends 'common.html' %}

{% block header %}
<div class='cnt'><div class='v-flex'>
  {% include 'arrow.svg' %}
</div></div>
<div class='cnt'><div class='v-flex'>
  <a href='/{{ board.slug }}' class='crumb board-slug'>{{ board.slug }}</a>
</div></div>
<div class='cnt'><div class='v-flex'>
  <a href='/{{ board.slug }}/{{ thread.slug }}' class='crumb thread-slug'><span>:</span>{{ thread.slug }}</a>
</div></div>
<div class='cnt'><div class='v-flex'>
  <div class='datetime'>{{ thread.posts[0].datetime | format_datetime }}</div>
</div></div>
{% endblock %}

{% block subhead %}
<div id='0x0' class='post'>
  <div class='body'>
    {{ thread.posts[0].markdown | markdown | safe }}
  </div>
</div>
{% endblock %}

{% block content %}

<div class='container thread-wrapper'>
  <div class='thread' data-slug='{{ thread.slug }}'>
    {% set replies_count = thread.posts | length - 1 %}
      <div class='posts'>
        {% if replies_count > 0 %}
          {% for post in thread.posts[1:] %}
            {% include 'post.html' %}
          {% endfor %}
        {% endif %}
        <div class='container writer-wrapper' data-flip-key='writer-wrapper'>
          {% include 'writer.html' %}
        </div>
      </div>
  </div>
</div>
<div class='container'>
  <div class='thread-end' data-flip-key='thread-end'>
    <a href='#' class='reload-link'></a>
  </div>
</div>

<template id='post-template'>
  {% include 'post.html' %}
</template>
<script src='{{ url_for("static", path="/js/client.js") }}'></script>

{% endblock %}
